// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.barlow-condensed-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .barlow-condensed-extralight {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-condensed-medium {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-condensed-bold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-condensed-extrabold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .barlow-condensed-black {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .barlow-condensed-thin-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-condensed-extralight-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-condensed-light-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-condensed-semibold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-condensed-bold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-condensed-extrabold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  .barlow-condensed-black-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

*{
    padding: 0;
    margin: 0;
   
}

html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(189, 189, 189);
}

body{
    width: 1200px;
    margin: 0 auto;
}

.menu_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 95px;
  background-color: rgb(70, 70, 70);
}

.menu_nav img{
  width: 230px;
}

.menu_nav a{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    margin: 0 20px;
    color: #ffffff;
}

footer{
  background-color: rgb(128, 152, 153);
  align-items: center;
  padding: 30px;
  height: 200px;
}

.menu_nav a:hover{
  color:#6161df;
}

.footer_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_nav a{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: rgb(55, 58, 73);
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
}

.info_footer{
  width: 200px;
  color:#ffffff;
  font-family: "Raleway", sans-serif;
}

.footer_nav a:hover{
    color: rgb(255, 255, 255);
}

.footer_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 160px;
    align-items: center;
}

.copyright{
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.articulo1 {
  width: auto;
  background-image: url("../img/Foto1200.jpg");
  background-repeat: no-repeat;
  height: 770px;
}

.articulo1 h2{
  text-align: center;
  padding-top: 375px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  color:#ffffff;
  font-size: 30px;
  text-shadow: 2px 2px 3px black;
}

.social a img{
    width: 35px;
    transition: transform .3s;
}

.social a img:hover{
    transform: scale(1.3);
}

.busqueda{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.busqueda select{
  padding: 10px;
  margin: 3px;
}

#location_quicksearch{
  width: 300px;
  padding: 10px;
  margin: 3px
}

.busqueda button{
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  background-color: rgb(104, 189, 19);
  color: #ffffff;
}